amqp==5.3.1
annotated-types==0.7.0
anyio==4.12.1
asgiref==3.11.1
billiard==4.2.4
brotli==1.2.0
celery==5.6.2
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cssselect2==0.9.0
Django==6.0.3
django-valkey==0.4.0
fonttools==4.62.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
kombu==5.6.2
mwparserfromhell==0.7.2
narwhals==2.17.0
ollama==0.6.1
packaging==26.0
pillow==12.1.1
plotly==6.6.0
polars==1.38.1
polars-runtime-32==1.38.1
prompt_toolkit==3.0.52
psutil==7.2.2
psycopg2-binary==2.9.11
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pydyf==0.12.1
pyphen==0.17.2
python-dateutil==2.9.0.post0
python-decouple==3.8
requests==2.32.5
six==1.17.0
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
valkey==6.1.1
vine==5.1.0
wcwidth==0.6.0
weasyprint==68.1
webencodings==0.5.1
Wikipedia-API==0.10.2
zopfli==0.4.1
